<h1>hORMburger! LETS EAT!</h1>
<img id="hormburger-img" src="../public/assets/img/hamburger-png-picture.png" alt="hambuger png">

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{>burgers/ devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<form class="create-form">
        <div class ="form-group">
            <label></label>
            
        </div>

</form>